.abouts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 9rem;
    padding: 2rem;
    margin: 0 auto;
    max-width: 120rem;
  }
  
  /* Shared base style for all about cards */
  .about-conditions {
    flex: 1 1 30%;
    padding: 2rem;
    
    min-width: 280px;
  }
  
  
  /* === Individual Card Styles === */
  
  
  .about-conditions {
    
    margin-bottom: 6rem;
    background: #476da56b;
    color: #444;
    border-radius: 30px 30px 30px 30px;
  }
  
  /* Headings */
  .about-conditions h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  
  /* Paragraph Text */
  .about-conditions p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
  }
  
  .conditions-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    font-size: 0.95rem;
    margin-top: 10%;
    font-weight: bold;
  }
  
  .conditions-list li {
    margin-left: 20px;
    padding-top: 6px;
    display: inline;
    color: rgb(16, 46, 63);
    border-right: 1.7px solid #0077b6;
    padding-right: 1rem;
  }

  
  /* Responsive Fixes */
  @media screen and (max-width: 768px) {
    .abouts {
      flex-direction: column;
      align-items: center;
    }
    .about-conditions {
      width: 90%;
    }
  }
  
